html, body {
    background-color: #349;
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    height: 100%;
}

#loading {
    background-color: #fff;
    padding-top: 20vh;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
}

#loading p {
    text-align: center;
    display: block;
    min-height: 209px;
    min-width: 200px;
}


.btn-custom {
	background-color: #349;
  color: white;
}

.btn-mint {
	background-color: #98ff98;
  color: #477244;
}

/* pokemon scrollbox */
.pokeselect {
    height: 100px;
    overflow: scroll;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
}
.pokeoption {
    margin: 0;
    padding-left: 10px;
    cursor: pointer;
    display: block;
    z-index: -1;
}
.pokeoption:hover {
    background-color: rgba(0, 155, 0, 0.2);;
}
/* end scrollbox */

.add-menu {
  /*padding: 100%;*/
  transition: 0.5s;
  z-index: 2;
  position: fixed;
  width: 100%;
  margin-top: 1px;
  bottom: 0;
  text-align: center;
  overflow-y: scroll;
  overflow: visible;
}

.add-menu h1 {
  cursor: pointer;
  margin-bottom: 100px;
  display: inline;
  color: white;
  font-size: 21px;
  background-color: #349;
  border-radius: 100%;
}
.add-menu h1:hover {
  color: #349;
  background-color: white;
}

.add-menu form {
    max-height: 100vh;
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 100%;
    background-color: white;
    padding: 20px;
    overflow-y: scroll;
    overflow: visible;
    -webkit-box-shadow: 1px 6px 44px -10px rgba(0,0,0,1);
    -moz-box-shadow: 1px 6px 44px -10px rgba(0,0,0,1);
    box-shadow: 1px 6px 44px -10px rgba(0,0,0,1);
}

.error-bar {
    transitions: 0.2s;
    margin: 0 auto;
    z-index: 4;
    position: fixed;
    top: 0;
}
