* {
	margin: 0;
}
html, body {
	height: 100%;
  background-color: #349;
}

.card {
	background-color: white;
	padding:10px;
	padding-left: 20px;
	border-radius: 5px;
	max-width: 500px;
	margin: 0 auto;
}
.btn-custom {
	background-color: #349;
  color: white;
}

.btn-mint {
	background-color: #98ff98;
  color: #477244;
}

.page-wrap {
  min-height: 100%;
	margin-bottom: -142px;
}
.page-wrap:after {
  content: "";
  display: block;
}
footer, .page-wrap:after {
	height: 142px;
}

footer {
  color: #888;
}

.red {
  color: red;
}
