{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title>Pokemon Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 100%;
        }

        nav {
            position: fixed;
            z-index: 2;
            background-color: white;
        }

        nav> button {
            display: inline;
            text-align: right;
        }
    </style>
</head>

<body>
    <nav>
        <button class="btn" type="button" name="button">Info</button>
        <button class="btn" type="button" name="button">Add Pokemon</button>
    </nav>
    <div id="map"></div>

    <!-- Javascript -->
    <script src="{% static 'locator/js/initialize_map.js' %}"></script>
    <script src="{% static 'locator/js/add_pokemon.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBg5UkNFYI4-1C2GJZVa_qLRlImdOjJ3ag&callback=initMap" async defer></script>
</body>

</html>
