{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title>Pokemon Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <meta charset="utf-8">
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #map {
            height: 100%;
        }
    </style>
</head>

<body>
    <div id="map"></div>

    <!-- Javascript -->
    <script src="{% static 'locator/js/initialize_map.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBg5UkNFYI4-1C2GJZVa_qLRlImdOjJ3ag&callback=initMap" async defer></script>
    <!-- <script src="{% static 'locator/js/add_pokemon.js' %}"></script> -->
</body>

</html>
